.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #e6e6e6;
    border: 1px solid #d3d3d3;
    color: #555555;
    font-weight: normal;
}

.ui-button-icon-only {
    width: 2.2em;
}

.ui-widget-content {
    background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #ffffff;
    border: 1px solid #aaaaaa;
    color: #222222;
}
.ui-widget-content a {
    color: #222222;
}

.custom-combobox {
    display: inline-block;
    position: relative;
}
.custom-combobox-toggle {
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    position: absolute;
    top: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}